* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
      background: #a5f0f2;
    background: linear-gradient(162deg, rgba(165, 240, 242, 0.56) 0%, rgba(253, 187, 45, 1) 100%);}

main {
    display: inline-block;
}



.btn-icon,
nav img {

    width: 50px;
    border-radius: 50%;
    border-color: none;
    border: none;
    margin-left: 5px;
    margin-top: 5px;
    cursor: pointer;
    background: local;
}

.btn-nav {
    float: right;
    margin-top: 20px;
    border-radius: 20px 20px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;


}

main {
    position: relative;
    margin-left: 20%;
}

h1,
h2 {
    margin-bottom: 10px;

}

figure {
    border-radius: 10px;
    display: inline-block;
    margin-left: 5px;

}
.carousel-controls {
    position: absolute;
    right: 15px;
    top: 50px;
    cursor: pointer;


}
.under-main{
    margin-top: 60%;

  display: block;
  text-align: start;

}